<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <title>CRT Online Application</title>
</head>

<body id="page-top">
    <!-- Masthead-->
    <div class="container-fluid">
        <header class="row masthead">
            <div>
                <div class="actualHead row align-items-center justify-content-center text-center">
                    <center>
                        <img class="home_logo" src="images/crtlogo_transparent.png" alt="" draggable="false"> <br>
                    </center>
                        <p class="description">We are one of the leading car rental providers and a travel agency that serves individual and corporate clients.   
                        We actually provide more than what they usually need. Normal VIP, that's our trade of service.</p>
                    <a href="#information"><button class="btn btn-primary getStarted">Get Started</button></a>
                </div>
            </div>
        </header>
        <div class="row" id="information">
            <div class="card-group">
                <div class="col-lg-4">
                    <div class="card">
                        <!-- <img src="images/testcheck.png" alt="" height="100px" width="100px"> -->
                        <center>
                            <img src="images/step 1.png" alt="" height="120px" class="card-icon">
                            <h2>Step 1</h2>
                            <h4>Submit an Application</h4> <br>
                        </center>
                        By clicking the Apply Button below, you will be asked to input your:
                        <ul>
                            <li>Personal Information,</li>
                            <li>Educational Background,</li>
                            <li>Work Experience,</li>
                            <li>License Information (license must not be expired 1 month from now), and</li>
                            <li>Legal Documents (i.e. SSS, PhilHealth, Pag-IBIG, etc.) if available to you at the moment.</li>
                            <li>Answers to a required English and Filipino Essay test</li>
                        </ul>
                    </div>
                  </div>
                
                  <div class="col-lg-4">
                    <div class="card align-items-center">
                      <!-- <img src="images/testcheck.png" alt="" height="100px" width="100px"> -->
                        <center>
                            <img src="images/step 2.png" alt="" height="120px" class="card-icon">
                            <h2>Step 2</h2>
                            <h4>Wait for the Interview Confirmation</h4> <br>
                        </center>
                        <p>Upon reviewing your application, our Human Resource Managers will send you a confirmation regarding your interview schedule through the contact number you have provided in the application form.</p>
                    </div>
                  </div>
                  
                  <div class="col-lg-4">
                    <div class="card align-items-center">
                        <!-- <img src="images/testcheck.png" alt="" height="100px" width="100px"> -->
                        <center>
                            <img src="images/step 3.png" alt="" height="120px" class="card-icon">
                            <h2>Step 3</h2>
                            <h4>Participate in the Interview.</h4> <br>
                        </center>
                        <p>Based on the instructions provided in the interview confirmation, kindly proceed to the Company Office at the assigned time for an interview with our Human Resource Managers.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="apply-now">
            <p style="font-family: 'Raleway'; font-size: 1.3em;">Get Started!</p>
            <a href="/verify-email"><button class="btn btn-primary btn_applyNow">Apply Now!</button></a>
        </div>
    </div>

    <div class="footer">
        Continental Rental & Tours<br> 0917 7227468 &bull; reservation@continentalrentaltours.com
    </div>
</body>
</html>